.header { 
    font-family: 'Italiana', serif;
    padding: 0px 60px;
    padding-top: 30px;
    font-size: 9vw;
    text-align: center;
}

.header-row {
    padding: 0px 60px;
    padding-top: 50px;
}

.line {
    margin-top: 20px;
}

.product-image-basket{
    border: 2px solid black;
    border-radius: 20px;
}

.remove:hover {
    cursor: pointer;
    color: #E88ED3;
    font-weight: 800;
}

.total-price {
    position: relative;
    right: -30%;
}

.total-price-sum {
    position: relative;
    right: -18%;
}

.total-price-with-customs {
    font-size: 2vw;
    font-weight: 600;
}

.blue-bg {
    background-color: #7EB7E3;
    padding: 30px;
    margin-left: 2px;
    margin-right: 2px;
}

.qty-input {
    border: none;
    outline: none;
    text-align: center;
    align-items: center;
}

.custom-name {
    font-size: 1.5vw;
    font-weight: 600;
    text-transform: uppercase;
}

.dot {
    border-radius: 100%;
    width: 15px;
    height: 15px;
}

/* Media queries for mobile devices */
@media only screen and (max-width: 600px) {
    .header {
        font-size: 20vw;
        padding: 0px 20px;
        padding-top: 20px;
    }
    
    .header-row {
        padding: 0px 20px;
        padding-top: 30px;
    }
    
    .total-price {
        right: -20%;
    }
    
    .total-price-sum {
        right: -10%;
    }
    
    .total-price-with-customs {
        font-size: 4vw;
    }
    
    .blue-bg {
        padding: 20px;
    }
}

/* Media queries for tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .header {
        font-size: 14vw;
        padding: 0px 40px;
        padding-top: 25px;
    }
    
    .header-row {
        padding: 0px 40px;
        padding-top: 40px;
    }
    
    .total-price {
        right: -25%;
    }
    
    .total-price-sum {
        right: -15%;
    }
    
    .total-price-with-customs {
        font-size: 3vw;
    }
    
    .blue-bg {
        padding: 25px;
    }
}

