.profile {
  background-color: #bdbdbd;
  padding: 50px;
  margin-top: 30px;
}

h3 {
  margin-top: 20px;
  font-weight: 900;
}

.bolder {
  font-weight: 700;
}

.img-profile {
  border-radius: 33px;
  border: 3px solid black;
  width: 80%;
  margin-left: 20%;
}

.btn-logout {
  font-weight: 900;
  font-size: 1.2em;
}

.paragraph-edit {
  margin-bottom: 40px;
}

.link-payment {
  text-decoration: none;
  color: black;
}

.delivery {
  border-radius: 33px;
  border: 2px solid black;
}

.shipment-data {
  font-weight: 700;
  margin-bottom: 30px;
}

.orders-count {
  background-color: white;
  color: pink;
  border-radius: 50%;
  display: inline-block;
  padding: 2px 8px;
  font-size: 0.8em;
  margin-left: 5px;
}

.green-order {
  background-color: rgb(172, 255, 172);
}

.red-order {
  background-color: rgb(255, 157, 157);
}

@media only screen and (max-width: 768px) {
  .img-profile {
    display: none;
  }

  .paragraph-edit {
    margin-top: 27px;
  }

  .paragraph-info {
    margin-top: 30px;
  }

  .btn-logout {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1400px) {
  .paragraph-edit {
    margin-bottom: 65px;
  }
}
