body {
  margin: 0;
  padding: 0;
  box-sizing: box; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fA;
}

body, 
html {
  overflow-x: hidden;
}

.webgl {
  position: absolute;
  top: 0; 
  left: 0; 
  z-index: 1;
}

.root {
  z-index: 5;
  position: relative;
}

.loading {
  padding: 20%;
  font-size: 40px;
  font-weight: 600;
  color: #E88ED3;
}


/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .webgl {
    display: none;
  }

  .root2 {
    left: 26%;
    top: 40%
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .webgl {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .webgl {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .webgl {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}